<header-component></header-component>
<div class="container-fluid bg-dark p-5">
  <h4 class="text-light fw-light">Bienvenido al portafolio de </h4>
  <h1 class="text-light">Benjamin Bautista Cervantes</h1>
  <h5 class="text-light fw-lighter fst-italic">Desarrollador fullstack en .NET</h5>
  <p class="text-light mt-4">En esta página web podrá encontrar proyectos desarrollados por mi en diferentes lenguajes
    de
    programación como C#, HTML o JavaScript, así como el uso de diferentes Framweorks como Angular, React, NET Framework
    y NET Core.</p>
</div>

<section class="container mt-4">
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary p-3 fw-bold" [routerLink]="['/projects']">Ir a mis proyectos </button>
  </div>
  <div class="mt-4">
    <h2>Sobre mi</h2>
    <p>Soy un desarrollador fullstack con más de 6 años de experiencia en el desarrollo de aplicaciones.</p>
    <p>Trabajé por 6 años en la empresa Edenred México, en donde colaboré en 2 proyectos:</p>
    <ul>
      <li><strong>Dottie.</strong> Una plataforma web para la gestión de facturas. Desarrollada en .Net Framework</li>
      <li><strong>Edenred Wallet Web.</strong>La plataforma web donde los usuarios de las tarjetas de vales emitidas por
        Edenred pueden administrarlas</li>
    </ul>
  </div>

</section>